body {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

#title {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20;
}

.formPanel {
    background-color: rgba(0,0,0,0.7);
    border: 10px solid white;
    border-style: dotted;
    margin: 0 25% 5% 25%;
    height: 80%;
}