body {
    margin: 0;
    padding: 0;
    background-color: rgb(30,30,30);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05)), url(../images/himmel.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.content1 {
    background-image: linear-gradient(rgba(30, 30, 30, 0), rgba(30, 30, 30, 1)), url(../images/sq.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: auto;
}

.content2 {
    background-image: url(../images/tanky-background.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 100%;
}

.content3 {
    
}

.tipBox {
    color: white;
    font-size: 1.1vw;
    text-align: center;
    padding: 2% 5% 0;
}

.tipBox button {
    margin-bottom: 10px;
    font-size: 1.2vw;
    background-color: black;
    border: 1px solid yellow;
}

.tipBox button:hover {
    box-shadow: 1px 1px 0 2px orange;
}

.myContainer {
    background-color: rgba(0,0,0,0.8);
    margin:0 15% 3%;
    border-color: white;
    border-style: double;
    height: auto;
}

.article {
    color: white;
    margin: 10%;
    font-size: 1.5vw;
}

h1 {
    font-size: 3vw;
    text-align: center;
    font-family: serif;
    padding: 20px;
}

h2 {
    font-size: 2vw;
    color: yellow;
    text-align: center;
}

.loginPanel {
    float: right;
    color: #d9d9d9;
    padding: 10px 30px 8px 10px; 
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    font-size: 1.1vw;
}

.loginPanel a { 
    color: rgba(255,255,50,0.5);
    font-size: 1vw;
}

.loginPanel a:hover {
    color: rgb(255,255,50);
}

.userBtn {
    float: right;
    background-color: black;
    padding: 5px 15px 7px 15px;
    color: white;
    border: none;
    width: auto;
}

.userBtn:hover {
    box-shadow: 0 2px 2px yellow;
}

.dropdown {
    float: right;
    padding: 0px;
    font-size: 1vw;
    width: auto;
}

.dropdown-menu {
    font-family: sans-serif;
    background-color: grey;
    width: auto;
}
.dropdown-menu:hover {
    color: yellow;
    background-color: grey;
}

.dropdown-toggle {
    margin-right: 30px;
}

#login {
    float: right;
    font-size: 1vw;
    color: grey;
    text-decoration: none;
    padding: 2px;
}

#login:hover {
    color: white;
}

.log {
    background-color: grey;
    font-size: 1vw;
    color: black;
    border: none;
}

.log:hover {  
    color: yellow;
}

.title {
    color: rgb(200, 200, 200);
    text-shadow: 0 0 30px black;
    font-size: 3vw;
    font-family: serif;
    cursor: default;
    font-weight: BOLD;
    text-align: center;
}

.title span {
    line-height: 10%;
    font-size: 2vw;
}

.myNav {
    list-style: none;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    font-family: serif;
}

.myNav ul {
    margin: 0; 
}

.myNav li {
    display: inline-block;
    padding: 0 0 20 0;
    
}

.myNav li a {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1.5vw;
}
/*
.myNav li.active a {
    border-bottom: 1px solid white;
}
*/
.myNav li a:hover {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

.filter {
    color: white;
    font-size: 1.3vw;
    text-align: center;
    word-spacing: 5;
    padding: 10px;
}

.filter select {
    background-color: black;
    color: yellow;
    margin-right: 30;
    border-bottom: 1px dashed white;
    padding: 4px;
}

.filter button {
    background-color: grey;
    color: orange;
    border: none;
}