body {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05)), url(../images/himmel.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.content {
    background-image: url(../images/sq.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    float: left;
}

.myContainer {
    background-color: rgba(0,0,0,0.8);
    margin: 0 200 50 200;
    float: right;
    border-color: white;
    border-style: dashed; 
}

.article {
    color: white;
    margin: 70;
    font-size: 20px;
}

.article h1 {
    text-align: center;
    font-family: serif;
    padding: 30px;
}

.article h2 {
    color: yellow;
    text-align: center;
}

.loginPanel {
    float: right;
    color: #d9d9d9;
    padding: 10px 30px 8px 10px; 
    background-color: rgba(0,0,0,0.4);
    width: 100%;
}

.loginPanel a { 
    color: rgba(255,255,50,0.5);
}

.loginPanel a:hover {
    color: rgb(255,255,50);
}

.userBtn {
    background-color: black;
    border: 1px solid yellow;
    padding: 5px 15px 5px 15px;
    color: white;
}

.userBtn:hover {
    box-shadow: 2 2 yellow;
}

.dropdown {
    float: right;
    padding: 0px;
    font-size: 16px;
}

.dropdown-menu {
    font-family: sans-serif;
    background-color: grey;
}

.dropdown-toggle {
    margin-right: 30px;
}

#login {
    float: right;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 2px;
}

#log {
    background-color: grey;
    font-size: 15px;
    color: black;
    text-decoration: none;
    
}

#log:hover {  
    color: yellow;
}

.title {
    color: rgb(200, 200, 200);
    text-shadow: 0 0 30px black;
    font-size: 4vw;
    font-family: serif;
    cursor: default;
    font-weight: BOLD;
    text-align: center;
}

.title span {
    line-height: 10%;
    font-size: 2vw;
}

.myNav {
    list-style: none;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    font-family: serif;
}

.myNav ul {
    margin: 0; 
}

.myNav li {
    display: inline-block;
    padding: 0 0 20 0;
    
}

.myNav li a {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 20px;
}
/*
.myNav li.active a {
    border-bottom: 1px solid white;
}
*/
.myNav li a:hover {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}
