body {
    background-image: rgba(150,150,150,0.5), url(../images/Background.jpg);
    background-size: cover;
    margin: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05)), url(../images/himmel.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    
}
.myContainer {
    background-color: rgba(0,0,0,0.5);
    margin: 0 300 50 300; 
    
}

.loginPanel {
    color: #d9d9d9;
    padding: 10;
/*    position: fixed;
    top: 0;
    overflow: hidden;
*/    
    background-color: rgba(0,0,0,0.3);
    width: 100%;
}

.loginPanel a { 
    color: rgba(255,255,50,0.5);
}

.loginPanel a:hover {
    color: rgb(255,255,50);
}

#login {
    float: right;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 0 5px;
}
#logout {
    float: right;font-size: 15px;
    color: grey;
    text-decoration: none;
    padding: 0 5px;
}

.title {
    color: rgb(200, 200, 200);
    text-shadow: 0 0 30px black;
    font-size: 4vw;
    margin-top: 20;
    font-family: serif;
    cursor: default;
    font-weight: BOLD;
    text-align: center;
}

.title span {
    line-height: 10%;
    font-size: 2vw;
}

.myNav {
    list-style: none;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    font-family: serif;
}

.myNav li {
    display: inline-block;
    padding: 0 0 20 0;
    
}

.myNav li a {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 20px;
}

.myNav li.active a {
    border-bottom: 1px solid white;
}

.myNav li a:hover {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

/*
#login {
    color: grey;
    font-size: 18px;
    float: right;
    margin: 2px 10px;
}


.myrow a {
    color: black;
    font-size: 18px;
    float: right;
    padding: 10px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 20px;

}



.container {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border: 3px solid black;
}

.bottompane a {
    color: grey;
    font-size: 15px;
    
}

.bottompane a:hover {
    color: white;
}
*/